* {
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(imagenes/fondo1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; 
  user-select: none;
}


#navbar {
  position: fixed;
  min-width: 290px;
  width: 300px;
  height: 100%;
  background: linear-gradient(to bottom, #5b5c75, #1b1630);
  left: 0px;
  top: 0px;
  border-right: 2px solid gray;
  color: #c4c5cc;
}

#navbar ul {
  height: 88%;
  padding: 0;
  overflow-y: auto;
}

#navbar li {
  color: #4d4e53;
  border-top: 1px solid black;
  list-style: none;
  position: relative;
  width: 100%;
}

.header {
  text-align: center;
  padding: 20px 15px;
  justify-content: center;
  cursor: pointer;
  font-weight: bold;
  font-size: 25px;
}

#navbar a {
  display: block;
  padding: 20px 15px;
  text-decoration: none;
  color: #c4c5cc;
}

#navbar a:hover {
  background-color: #232841;
  color: white;
  font-size: 24px;
}

#contenedor {
  position: relative;
  margin-left: 0;
  padding: 10px;
  color: #fff2ff;
}


.main-section {
  margin-top: 20px;
  font-size: 25px;
}

h1 {
  color: #7885b9;
}

#referencias {
  font-size: 15px;
}

#referencia a {
  text-decoration: none;
  color: black; 
  font-weight: bold;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  padding: 18px;
  width: 114px;
  height: 18px;
  border: 1px solid gray;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #4d4e53;
  cursor: pointer;
  transition: background-color 0.4s, color 0.4s, text-transform 0.5s;

}

button:hover {
  background: linear-gradient(to bottom, #e8e9ee, #9d95be);
  font-size: 18px;
}

button a {
  text-decoration: none;
  color: #4d4e53;
}


.libro img {
  display: none;
  position: absolute; 
  z-index: 100;
  background-color: #fff;
  width: 350px;
  height: 380px;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 815px) {
  * {
    font-size: 18px;
  }


  #navbar ul {
    border: 1px solid;
    height: 275px;
  }

  #navbar {
    background-color: white;
    position: absolute;
    top: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    max-height: 275px;
    border: none;
    z-index: 1;
  }

  #navbar .header {
    display: none;
  }

  #contenedor{
    position: relative;
    margin-left: 0px;
    margin-top: 270px;
  }

  #contenedor .arriba {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    font-size: 20px;
    margin-top: 7px;
    background: linear-gradient(to bottom, #e8e9ee, #9d95be);
    color: linear-gradient(to bottom, #5b5c75, #1b1630);
    border-radius: 50%;
    align-items: center;
  }

#contenedor {
  margin-left: 0px;
}
}

@media (min-width: 816px) {
  .main-section .arriba {
    display: none;
  }
}

@media (max-width: 825px) {
  h1 strong{
    font-size: 26px !important;
    font-weight: bold !important;
  }
}


@media screen and (max-width: 815px) {
  body {
    background-image: url(imagenes/fondo1.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    background-attachment: fixed;
  }

  .libro #imagen-libro {
    width: 150px;
    height: 150px;
  }
}
