.barra-lateral {
  position: fixed;
  min-width: 290px;
  width: 300px;
  height: 100%;
  background: linear-gradient(to bottom, #5b5c75, #1b1630);
  left: 0px;
  top: 0px;
  border-right: 2px solid gray;
  color: #c4c5cc;
  cursor: pointer;
}

.barra-lateral ul {
  height: 88%;
  padding: 0;
  overflow-y: auto;
}

.barra-lateral li {
  color: #c4c5cc;
  border-top: 1px solid black;
  position: relative;
  width: 100%;
}

.casilla {
  padding: 25px 25px 25px 2px;
}

.casilla:hover {
  font-size: 24px;
  font-weight: bold;
  background-color: #5b5c75;
}

.header:hover {
  font-size: 24px;
  font-weight: bold;
  background-color: #5b5c75;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 22px;
  cursor: pointer;
}

