.contenedor-principal {
  position: relative;
  margin-left: 295px;
  padding: 10px;
  color: #fff2ff;
  line-height: 20px;
}

.info-libros {
  padding-bottom: 25px;
}

.titulo {
  margin-bottom: 15px;
}

.arriba {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  font-size: 20px;
  margin-top: 7px;
  background: linear-gradient(to bottom, #e8e9ee, #9d95be);
  color: linear-gradient(to bottom, #5b5c75, #1b1630);
  border-radius: 50%;
  align-items: center;
}

button {
  padding: 10px;
  font-size: 14px;
  border: 1px solid grey;
  border-radius: 7px;
  margin-right: 5px;
  cursor: pointer;
}