.contenedor-principal {
  position: relative;
  margin-left: 295px;
  padding: 10px;
  color: #fff2ff;
  line-height: 20px;
}

.info-libros {
  padding-bottom: 25px;
}

.titulo {
  margin-bottom: 15px;
}