.contenedor-principal {
  position: relative;
  padding: 10px;
  color: #fff2ff;
  line-height: 20px;
}

.info-libros {
  padding-bottom: 25px;
  padding: 2rem;
  background-color: gray;
}

.titulo {
  margin-bottom: 15px;
}
.publicaciones {
  margin-bottom: 15px;
  font-weight: bold;
}