@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 26px;
  font-size: 20px;
}

html, 
body {
  color: white;
  background-image: url(imagenes/fondo.avif);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; 
  user-select: none;
  font-family: Lato, sans-serif;
}