* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, 
body {
  color: white;
  background-image: url(imagenes/fondo.avif);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; 
  user-select: none;
  font-family: Lato, sans-serif;
}